@charset "utf-8";
/* CSS Document */

*{
		padding:0;
		margin:0;
	}
	.border{
		border:1px solid #ffff66;
	}
	.center{
		margin:200px auto;
	}
	a{
		text-decoration:none;
		color:#cc9900;
	}
.abc {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 9pt;
}
.color {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 9pt;
	background-color:gray;
}
.backgd{
	background-color:aquamarine;
}

